* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    border: none;
    border-radius: 0;
}

window#waybar {
    background: transparent;
}

/* --- СЕРЕБРЯНЫЙ МЕТАЛЛИК --- */
#workspaces, #mode, #clock, #network, #language, #battery, #backlight, #pulseaudio, #tray {
    /* Градиент для эффекта металла */
    background: linear-gradient(180deg, #dce0e3 0%, #bdc3c7 100%);
    color: #2c3e50; /* Темно-синий/серый текст для контраста */
    border-radius: 20px;
    padding: 2px 16px; /* Чуть увеличил отступы по бокам */
    margin: 4px 3px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2); /* Легкая тень для объема */
}

/* --- РАБОЧИЕ СТОЛЫ --- */
#workspaces button {
    padding: 0 6px;
    color: #7f8c8d; /* Серый для неактивных */
    background: transparent;
    box-shadow: none;
}

/* Активный рабочий стол */
#workspaces button.focused {
    background: #95a5a6; /* Темно-серебряный */
    color: #ffffff;      /* Белый текст */
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}

#workspaces button:hover {
    background: #ecf0f1;
}

/* --- ТРЕЙ --- */
#tray {
    background: #aab7b8; /* Чуть темнее основного, чтобы выделить иконки */
}

/* --- АНИМАЦИЯ --- */
#network:active, #battery:active, #pulseaudio:active {
    background: #95a5a6;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3); /* Эффект вдавливания */
}
